/***************************************************************
 * COLORS
 ***************************************************************/

/*************************
 * BASE
 *************************/
$base-color: #103444 !default;
$base-color-two: #FB4A6A !default;
$base-color-three: #FE8A55 !default;
$base-color-fourth: #164854 !default;
$base-color-fifth: #032732 !default;

/*************************
 * GREYS
 *************************/
$base-black: #000;
$base-white: #fff;

/*************************
 * HELPERS
 *************************/
$base-success: #84D049;

/***************************************************************
 * FONTS
 ***************************************************************/
$primary-font: 'Cabin', sans-serif;
