/*********************************************************************
 * COLORS
 **********************************************************************/
//base colors
$base-color: #032732 !default;
$base-color-two: #FD6F5E !default;
$base-color-three: #26A69A !default;

//BASE
$base-color-type: #164854 !default;
$base-color-type-two: #727272 !default;
$base-color-type-three: #C9C9C9 !default;

//BASE GREYS
$base-black: #000;
$base-light-grey: #E2E2E2;
$base-dark-grey: #65727C;
$base-white: #fff;

//HELPERS
$base-success: #84D049;
$base-danger: #FB4A6A;


/*********************************************************************
 * FONTS
 **********************************************************************/

$base-font: 'Lato', sans-serif;
