$style-location: './common/styles' !default;

/***************************************************************
 * FONT LOADING
 ***************************************************************/
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600,700');


/***************************************************************
 * PARTIALS
 ***************************************************************/
@import './common/styles/_helpers.scss';
@import './common/styles/_variables.scss';
@import './common/styles/_globals.scss';
@import './common/styles/_menu.scss';


/***************************************************************
 * RESET
 ***************************************************************/
html,
body {
  font-family: $primary-font;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
